.aboutus{
    padding: 3rem;
}
.aboutus_head h2{
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    color: #0e3302;
}
.aboutus_content{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.aboutus_content p{
    color: rgb(104, 104, 104);
    margin-top: 10px;
    text-align: justify;
}
.about_history{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(#ffffffb2,#ffffffad),url(../../assets/Home/homeabout.jpg);
    background-size: cover;
    background-position: center;
}
.about_history_right{
    background-color: #0e3302;
    color: white;
    padding: 2rem;
    width: 600px;
    
}
.about_history_left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}
.about_mission{
    padding: 3rem 7rem 0 7rem;
    display: flex;
    justify-content: center;
    gap: 4rem;
    max-width: 1352px;
    margin: auto;
}
.about_mission_img img{
    width: 550px;
}
.about_mission_text{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    /* align-items: center; */
}
.about_mission_text p{
    font-weight: 600;
    font-size: 1.3rem;

}
.about_mission_text h3{
    font-size: 1.8rem;
    color: #165002;
}


.about_vission{
    padding: 0rem 9rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 4rem;
    max-width: 1352px;
    margin: auto;
}
.about_vission_img img{
    width: 550px;
}
.about_vission_text{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    /* align-items: center; */
}
.about_vission_text h3{
    font-size: 1.8rem;
    color: #165002;
}
.about_vission_text p{
    font-weight: 600;
    font-size: 1.3rem;

}
.about_values{
    padding: 3rem 4rem;
    display: flex;
    gap: 3rem;
    align-items: center;

}
.about_values img{
    width: 500px;
}
.about_values_content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about_wordfromprincipal{
    display: flex;
    align-items: center;
    gap: 4rem;
    background-color: #32a00ecb;
    padding: 2rem 5rem;
}
.about_principal_img img{
    width: 400px;

}
.about_wordfromprincipal_text{
    color: #dbdbdb;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.about_wordfromprincipal_text h3, .about_wordfromprincipal_text h2{
    color: yellow;
}

.about_board{
    padding-block: 4rem;
}
.about_board h2{
    text-align: center;
    margin-block: 2rem;
    font-size: 2.5rem;
    color: #0e3302;
}
.about_board_content{
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.about_board_content_item {
    position: relative;
  }
  

.about_board_content_item_info{
    position: absolute;
    bottom: 10px;
    /* left: 25%; */
    background: linear-gradient(#0000005e,#00000063);
    width: 100%;
    /* transform: translateX(-50%); */
}
.about_board_content_item_info{
    text-align: center;
    color: white;
}

@media screen and (max-width:1200px){
    .about_mission{
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 3rem;
        align-items: center;
    }
    .about_vission{
        flex-direction: column;
        gap: 1rem;
        align-items: center;

    }
}
@media screen and (max-width:1040px){
    .aboutus_content{
        flex-direction: column;
        align-items: center;
    }
    .about_history{
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        padding-block: 2rem;
    }
    .about_values{
        flex-direction: column;
        align-items: center;
        text-align: justify;
    }
    .about_wordfromprincipal{
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width:756px){
    .about_vission{
        padding: 0rem 1rem;
    }
    .about_mission{
        padding: 0rem 1rem;
    }
    .about_vission_img img{
        width: 90vw;
    }
    .about_mission_img img{
        width: 90vw;
    }
    .aboutus_content_img img{
        width: 80vw;
    }
    .about_history_right{
        width: 90vw;
    }
    .about_values img{
        width: 90vw;
    }
    .about_values{
        padding: 3rem 1rem;
    }
    .about_wordfromprincipal{
        padding: 2rem 1rem;
    }
    .about_principal_img img{
        width: 90vw;
    }
    .aboutus{
        padding: 1rem;
    }
}